.chart-element-date {
    width: 85px;
    float: left;
    margin-left: 10px;
}

.chart-element-bar {
    display: block;
    margin: 3px 10px 0 0;
    padding: 0;
    height: 10px;
    border: solid 1px #777;
    float: left;
    width: 722px;
    overflow: visible !important;
}

.chart-element-time {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 8px;
    position: relative ;
    opacity: 0.75;
    top: 0;
    width: 0;
    float: left;
    overflow: visible;
}
.chart-element-time-deleted{
    opacity: 0.4 !important;
}
.chart-element-time-deleted .chart{
    background-color: #bfbfbf !important;
}

.chart-agg .chart-element-time{
    opacity: 0.2;
}

.expand-log{
    display: block;
    width: 17px;
}
.chart-element-time:hover{
    opacity: 1;
}
.chart-element-bar-expanded .chart-element-time{
    opacity: 1;
}
.chart-group{
    width: 780px;
    height: 16px;
    float: right;
    overflow: visible !important;

}

.chart{
    position: relative;
    height: 8px;
    cursor: pointer;
    overflow: visible !important;

}

.chart .title-log{
    display: block;
    position: relative;
    top: 0;
    white-space: nowrap;
    width: 0;
    height: 0;
    font-size: 10px;
    font-weight: bold;
    color: #000000;
    padding-left: 2px;
    padding-top: 1px;
}

.delete-log{
    display: none;
}
.title-log:hover .delete-log{
    display: inline;
}



.chart-mini .title-log
{
    display: none;
}

.chart-element-bar-expanded{
    border-left: none;
    border-right: none;
}


.chart-element hr{
    margin-top: 20px;
    margin-bottom: 10px;
    clear: both;
    color: #90bed5;
    background: #90bed5;

}
.chart-element-actions{
    width: 10px;
    float: left;
    margin-left: 5px;
    font-size: 11px;
    padding-top: 4px;

}
.chart-element-actions a{
    display: block;
    height: 10px;
    opacity: 0.5;
    margin-right: 20px;
}
.chart-element-actions a:hover{
    opacity: 0.85;
}
.chart-element-actions a.active{
    opacity: 1;
}


h2.empty-stat{
    text-align: center;
    display: block;
    margin: 50px 10px;
    font-size: 22px;
    color: #777;
}