[submodule "protected/extensions/yii2-debug"]
	path = protected/extensions/yii2-debug
	url = https://github.com/zhuravljov/yii2-debug.git
[submodule "protected/extensions/eoauth"]
	path = protected/extensions/eoauth
	url = https://github.com/jorgebg/yii-eoauth.git
[submodule "yii"]
	path = yii
	url = https://github.com/yiisoft/yii.git
[submodule "protected/extensions/eauth/eauth"]
	path = protected/extensions/eauth/eauth
	url = https://github.com/paunin/yii-eauth.git
[submodule "protected/extensions/eauth"]
	path = protected/extensions/eauth
	url = https://github.com/paunin/yii-eauth.git
